// ServerInterface represents all server handlers.
type ServerInterface interface {
{{range .}}{{.SummaryAsComment }}
// ({{.Method}} {{.Path}})
{{.OperationId}}(ctx echo.Context{{genParamArgs .PathParams}}{{if .RequiresParamObject}}, params {{.OperationId}}Params{{end}}) error
{{end}}
}

type MockServerInterface struct{
	mapping *mockapiserver.MockDataMapping
}

{{range .}}func (si *MockServerInterface) {{.OperationId}}(ctx echo.Context{{genParamArgs .PathParams}}{{if .RequiresParamObject}}, params {{.OperationId}}Params{{end}}) error {
	if v, err := mockapiserver.GetMockDataForRequest(si.mapping, http.StatusOK, ctx.Request()); err == nil {
		return ctx.JSON(http.StatusOK, v)
	}
	return echo.NewHTTPError(http.StatusInternalServerError, "Missing mock data")
}
{{end}}
